%div.ui.form
  = form_for @closet, html: { multipart: true } do |f|
    - if @closet.errors.any?
      %div.ui.red.message.closable#error_explanation
        %h2= "#{pluralize(@closet.errors.count, "error")} prohibited this closet from being saved:"
        %ul
          - @closet.errors.full_messages.each do |msg|
            %li= msg

    .field.required
      = f.label :name
      = f.text_field :name
    .field
      = f.label :location
      = f.text_field :location
    .field
      = f.label :image
      = f.file_field :image

    =f.hidden_field :owner_id, value: current_user.id
    .actions
      = f.submit 'Save', class: "ui submit button", id: "closet_form"

