%h1 Listing closets

%table
  %thead
    %tr
      %th Name
      %th Location
      %th User
      %th
      %th
      %th

  %tbody
    - @closets.each do |closet|
      %tr
        %td= closet.name
        %td= closet.location
        %td= closet.user_id
        %td= link_to 'Show', closet
        %td= link_to 'Edit', edit_closet_path(closet)
        %td= link_to 'Destroy', closet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Closet', new_closet_path
