%div.ui.center.aligned.icon.header
  %i.circular.home.icon
  %div.content
    %h1 #{current_user.first_name}'s Closets
    %div.sub.header
      = link_to new_closet_path, class: "" do
        Add a Closet
%div.ui.three.doubling.cards
  - @closets.each do |closet|
    %div.card
      = link_to closet_path(closet), class: "image small" do
        - if closet.image.present?
          %img{src: "#{closet.image.url(:thumb) }"}
        - else
          %img{src: "/closet1.png"}
      %div.content
        %p.header.center= closet.name
        %div.meta= closet.location if closet.location.present?
      %div.extra.content
        %div.ui.two.buttons
          = link_to 'View Closet', closet, class: "ui basic blue button"
          = link_to 'Add Items', edit_closet_path(closet), class: "ui basic green button"
%br

