<label class="required"> Denotes a required field </label>
<br>
<br>
<div class="inline fields">
  <%= form.label :name, class: "required" %>
  <div class="three wide field">
    <%= form.text_field :first_name, placeholder: 'First Name' %>
  </div>
  <div class="three wide field">
    <%= form.text_field :last_name, placeholder: 'Last Name' %>
  </div>
</div>
<div class="inline fields">
  <%= form.label :email, class: "required"  %>
  <div class="five wide field">
    <%= form.text_field :email, type: 'email' %>
  </div>
</div>
<div class="inline fields">
  <%= form.label :password, class: "required" %>
  <div class="three wide field">
    <%= form.password_field :password, placeholder: 'Password' %>
  </div>
  <div class="three wide field">
    <%= form.password_field :password_confirmation, placeholder: 'Re-Type Password' %>
  </div>
</div>
<% if params[:action] == 'edit' %>
  <div class="" style="font-size:20px;">
    <%= form.check_box :member%>
    <%= form.check_box :admin %>
  </div>
<% end %>
